<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
    <title>showdate</title>
</head>
<body>
    <table border="1" cellspacing="0" width="500px">
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>密码</th>
        </tr>
        {% for stu in students %}
        <tr>
{#            <td>{{ stu.id }}</td>#}
            <td>{{ forloop.counter }}</td>
            <td>{{ stu.sname }}</td>
            <td>{{ stu.spwd }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>